g[id="turkiye"] > g[data-is-election-city="false"] > path {
    fill: gray !important;
}

g[id="turkiye"] > g[data-is-election-city="false"] > path:hover {
    fill: darkgray !important;
}

g[id="turkiye"] > g[data-is-election-city="true"] > path {
    fill: darkred !important;
}

g[id="turkiye"] > g[data-is-election-city="true"] > path:hover {
    fill: orangered !important;
}

h1 {
    text-align: center;
}

table {
    margin: auto;
    margin-bottom: 100px;
}
